@import "company.css";
@import "contact.css";
@import "report.css";
@import "dash.css";
@import "companyview.css";

.uploadbox{
        width: 50%;
    margin: 0 auto;
}

.uploadbox .btn{
       margin: 0 auto;
    display: block;
}

.uploadinput{
    background-color: rgba(0,0,0,0.05);
    padding: 10px;
    margin-bottom: 15px;
}

.allcomp tr,.companyviewlist tr{
    cursor: pointer;
}

.allcomp tr:hover,.companyviewlist tr:hover{
    background-color: rgba(0,0,0,0.05);
}

.clogo,.uhead{
    width:40px;
    height:40px;
    border-radius:20px;
    overflow: hidden;
}

