#codebox{
    width:100%;
    height:150px;

}

#codesave{
    float:right;
    margin-top: 15px;
}

.checkall:before{display: none;
}

.checkall{
        padding-left:8px;
}

#tab-1 label{
    text-transform: uppercase;
}

#tab-1 input[name="id"]{
    display: none;
}