#reporthead{
    position: fixed;
    top: 0;
    right: 0;
    left:0px;
    z-index: 801;
    z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    height:50px;
    background: #fff;
    padding:10px;
}

#reporthead h1 {
    color: #000;
    font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -1.5px;
    line-height: 31px;
    margin: 0;
    
}

.grade{
    padding:0px 30px;
}

.gradebox{
	position: relative;
	width: 100%;		/* desired width */
    background-color: rgba(0,0,0,0.2);
    max-width: 300px;
    margin:0 auto;
}
.gradebox:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.gradecontent{
    position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
         -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.grademain{
     position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.grademain p{
    margin:0px;
    text-align: center;
}

.cinfo{
    padding:0px 40px;
}

.cinfop{
    max-width:280px; margin:0 auto 20 auto;
}

.cinfopm{
    display: none;
}

@media screen and (max-width:1280px){
    .cinfo{
        padding:0px 10px;
    }
    .grade{
        padding:0px 10px;
    }
}

@media (min-width:600px) and (max-width:992px){
    .cinfo{
            padding: 0px;
    /* float: left; */
    width: 70%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    }
    .grade{
        padding:0px;
        float: left;
        width:30%;
        margin-bottom:20px;
    }
    .gradebox{
        max-width: 500px;
    }
    .cinfop{
        max-width: 650px;
        height: 100%;
    }
}

@media (max-width:600px){

    .grade{
        padding:0px;
    }
    
    .gradebox{
        max-width: 600px;
    }
    
    .cinfo{
        padding:0px;
    }
    
    .cinfop{
        display: none;
    }
    
    .cinfopm{
        display: block;
        background-color: #fff;
    }
    
    
}

#disclosure{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}